﻿@model MvcMeshTest.Models.Manfucturer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manfucturer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManfucturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManfucturerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManfucturerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
